.logo {
  text-align: center;
}
.icons {
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
}

.name {
  color: aliceblue;
  padding-left: 60px;
}
.end {
  color: rgb(10, 131, 238);
  margin-right: 20px;
  margin-left: 20px;
}

.outer-footer {
  color: goldenrod;
  padding-top: 30px;
}

.inner-footer {
  margin-top: 50px;
}

.footer {
  text-align: center;
}

p1 {
  color: cornsilk;
  font-size: 50px;
  font-family: monospace;
}
